<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FashionStoreWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <FashionStoreWinForms.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=C:\_svn_wc\xsb\dress.su.domain\sql\test.db3</value>
      </setting>
      <setting name="BackupFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DbPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDateOfSale" serializeAs="String">
        <value>1900-01-01</value>
      </setting>
      <setting name="LastRepArticlePrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="LastRepShowPriceOfPurchase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastRepShowPriceOfSale" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastRepShowPriceOfStock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastRepShowSizes" serializeAs="String">
        <value>False</value>
      </setting>
    </FashionStoreWinForms.Properties.Settings>
  </userSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>